body {
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
    min-height: 100vh;
    font-family: 'Lexend Variable', sans-serif; /* Agregué una fuente de respaldo */
    margin: 0;
    background: radial-gradient(ellipse at 50% -10%, #0a121d, #020204);
    background-attachment: fixed;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Lexend Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 200 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/lexend:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

section {
    text-align: center;
    margin-bottom: 50px;
}

.container {
    position: relative;
    z-index: 2;
}


footer {
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 10px;
}

/* Estilos para la barra de navegación al inicio */
.navbar {
    font-size: 19px;
    background-color: transparent !important;
    transition: background-color 0.6s;
    color: #fff; /* Color del texto en el encabezado al inicio */
}

/* Estilos para la barra de navegación cuando se desplaza hacia abajo */
.navbar-scrolled {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.75) !important;
}

/* Color del texto de la barra de navegación al desplazarse hacia abajo */
.navbar-scrolled .navbar-brand,
.navbar-scrolled .navbar-nav .nav-link {
    color: #000 !important; /* Color del texto a negro cuando el fondo es oscuro */
}

/* Color del texto de la barra de navegación al inicio */
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff; /* Color del texto a blanco al inicio */
}

/* Color del botón hamburguesa */
.navbar-toggler {
    border: none;
    border-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-toggler-element {
    font-size: 30px; /* Ajusta el tamaño según sea necesario */
    color: #ffff00; /* Cambia el color según tus preferencias */
    transition: color 0.3s ease;
}

.custom-toggler-element:focus,
.custom-toggler-element:active,
.navbar-toggler:hover {
    color: #ffe10052; /* Cambia el color cuando se enfoca, está activo o se pasa el mouse */
    background-color: rgba(255, 255, 255, 0.1); /* Cambia el fondo cuando se enfoca, está activo o se pasa el mouse */
    border: none;
} /* fin */


.nav-link {
    margin-left: 20px;
    animation: fadeInUp 2.5s ease-out forwards;
}

/* Color del texto de la barra de navegación al desplazarse hacia abajo */
.navbar-light.navbar-scrolled .navbar-brand,
.navbar-light.navbar-scrolled .navbar-nav .nav-link {
    color: #ffffff !important; /* Color del texto a negro al desplazarse hacia abajo */
}

.nav-link:hover,
.navbar-light.navbar-scrolled .nav-link:hover {
    color: #178c00 !important;
}

/* Estilos para el "FerchDev" */

.dynamic-text {
    overflow: hidden;
    white-space: nowrap;
    font-weight: bolder;
    font-size: 24px;
    color: #ffff00;
    border-right: 3px solid #ffffff;
    margin: 0;
    animation: typing 8s steps(30, end), blink-caret 1s step-end infinite;
}
  /* Animación de escritura */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
    /* Animación de la barra intermitente */
    @keyframes blink-caret {
        from, to {
        border-color: transparent;
        }
        50% {
        border-color: #ffffff;
        }
    }


/* Estilos para la sección "Acerca de mí" */

#about {
    position: relative;
    margin-top: -56px;
    background-image: url('../img/wall.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 100px 20px;
}

#txt-inicio {
    margin-left: 17%;
    margin-right: 17%;
    text-align: left;
    margin-top: 120px;
    opacity: 0;
    transform: scale(0);
    animation: fadeInUp 2.5s ease-out forwards, scaleAnimation 1.2s ease-in-out forwards;
}

/* MaxRes 778px */

@media (max-width: 778px) {
    #txt-inicio {
        margin-left: 1%;
        margin-right: 1%;
        animation: fadeInUp 2.3s ease-out forwards, scaleAnimationMobile 1s ease-in-out forwards;
    }

    @keyframes scaleAnimationMobile {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.05);
        }
    }
}




#logo-inicio {
    height: 100px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleAnimation {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1.54);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px); /* Desplaza hacia arriba 20px */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Sin desplazamiento, opacidad completa */
    }
}
    #about p {
        color: rgb(220, 220, 220);
        font-size: 19px;
        font-weight: 200;
    }
        #about p span {
            color:#ffff00;
            font-weight: bolder;
        }
    #about h1 {
        font-size: 45px;
        
    }
        #about h1 span {
            color:#ffff00;
            font-weight: bolder;
        }
        
        #about h2 {
            font-size: 2rem;
            color: #178c00;
        }
            #about h2 span {
                font-size: 41px;
                font-weight: bolder;
                color:#ffff00;
            }

    #about h3 {
        margin-top: 200px;
    }
    #about h3 span {
        font-weight: bold;
        color:#ffff00;
    }

/* Capa con fondo oscuro */
#about::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.social-icons {
    display: flex;
    justify-content: left;
    margin-top: 30px; /* Ajusta según sea necesario */
    margin-bottom: 120px;
}

.social-icon {
    margin: 5px 10px; /* Espacio entre los iconos, ajusta según sea necesario */
    font-size: 30px; /* Tamaño de los iconos, ajusta según sea necesario */
    color: #ffffff; /* Color de los iconos, ajusta según sea necesario */
    transition: color 0.7s ease;
}

.social-icon:hover {
    color:#ffff00; /* Color al pasar el mouse sobre los iconos, ajusta según sea necesario */
}

.resume-button {
    margin: 10px 10px; /* Espacio entre los iconos y el botón, ajusta según sea necesario */
    font-size: 15px; /* Tamaño del botón, ajusta según sea necesario */
    font-weight: bold;
    color: #000; /* Texto transparente */
    background-color: #fff; /* Fondo transparente */
    border-radius: 50px; /* Hace que el contorno del botón sea redondeado */
    padding: 5px 15px; /* Ajusta según sea necesario para el espacio interior del contorno */
    text-decoration: none;
    transition: color 0.5s ease, background-color 0.7s ease; /* Agrega transiciones de color y contorno */
}

.resume-button:hover {
    color: #000; /* Texto transparente */
    background-color: #ffff00; /* Cambia el color del contorno al pasar el mouse */
}



/* Estilos para la sección "Experiencia académica" */



.timeline {
    position: absolute;
    width: 2px; /* Grosor de la línea vertical */
    height: 100%;
    background-color: #fff; /* Color de la línea vertical */
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* Estilos para los puntos de experiencia */
.point {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px auto; /* Espaciado vertical entre puntos */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.point:hover {
    background-color: #ffcc00; /* Color del punto al pasar el ratón */
}

/* Estilos para el contenido de los puntos */
.content {
    position: absolute;
    top: 100%;
    left: -50%;
    width: 200px; /* Ancho del contenido */
    background-color: #fff; /* Color de fondo del contenido */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del contenido */
    display: none; /* Oculta el contenido por defecto */
    text-align: center;
}

/* Muestra el contenido cuando se enfoca el punto */
.point:hover .content {
    display: block;
}



/* Estilos para la sección "Contacto" */

        .email-button {
            display: inline-flex;
            align-items: center;
            text-decoration: none;
            background-color: #178c00;
            color: #fff;
            padding: 10px 14px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
            font-weight: bolder;
            transition: background-color 0.3s;
            margin-top: 20px;
        }

        .email-button i {
            margin-right: 10px;
        }

        .email-button:hover {
            background-color: #ffff00;
            color: #000;
        }
            #formulario-contacto {
            text-align: center;
        }

#contact {
    text-align: center;
    margin-bottom: 180px;
}

#contact-form {
    max-width: 510px;
    margin: 0 auto;
    background-color: transparent;
    padding: 18px;
    border-radius: 15px;
}

#contact h2 {
    color: #fff;
    font-size: 45px;
}
    #contact h2 span {
        color:#ffff00;
        font-weight: bolder;
    }
    #contact h3 {
        color: #fff;
        font-weight: 200;
        font-size: 27px;
    }

#contact label {
    display: block;
    margin: 20px 3px 5px;
    font-weight: 200;
    font-size: 18px;
    color: #d9d9d9;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 8px;
    background: #181c24;
    font-weight: 200;
    color: rgb(224, 224, 224);
    border-radius: 8px;
    border-style: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#contact button {
    background-color: #178c00;
    color: #fff;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #ffff00;
    color: #000;
}

#formulario-contacto {
    margin-top: 90px;
    text-align: left;
}








/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilos para el "pulgar" de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #178c00; /* Color del "pulgar" (barra de desplazamiento) */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: #000; /* Color de la pista de la barra de desplazamiento */
}




/* Estilos para la sección "Descripción" */

#txt-descripcion {
    color: white;
    text-align: left;
}
    #txt-descripcion h2 {
        font-size: 48px;
    }
    #txt-descripcion h2 span{
        color: #178c00;
        font-size: 70px;
    }
    #txt-descripcion p {
        font-size: 22px;
        font-weight: 200;
    }






/* Estilos para la sección "Experiencia académica" */

/*TARJETAS*/

#experiencia {
    margin-bottom: 180px;
}



#experiencia h2, p {
    color: white;
}
    #experiencia h2 {
        font-size: 45px;
    }
    #experiencia p {
        font-size: 22px;
    }
    #experiencia #libro {
        height: 190px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

.timeline {
    background-color: #ffffff56;
    width: 3.8px;
}

.tarjeta-fade {
    padding: 20px;
    background-color: #1f1b2e;
    border-bottom: 3px solid rgb(211, 211, 211);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tarjeta-left {
    display: flex;
}
    .tarjeta-left img {
        float: right;
        height: 10px;
        position: absolute;
        top: 30px;
        right: -1.9%;
    }

.tarjeta-right {
    display: flex;
}
    .tarjeta-right img {
        float: right;
        height: 10px;
        position: absolute;
        top: 30px;
        left: -1.9%;
        -moz-transform: scaleX(-1); /* Firefox */
        -o-transform: scaleX(-1); /* Opera */
        -webkit-transform: scaleX(-1); /* Chrome y Safari */
        transform: scaleX(-1); /* w3org */
        filter: FlipH; /* Internet Explorer */    
    }

.info-tarjeta {
    width: 50%;
    text-align: left;
}
    .info-tarjeta h3 {
        font-size: 26px;
        color: #ffff00;
        margin-bottom: 16px;
    }
    .info-tarjeta h4 {
        font-size: 20px;
        color: #178c00;
        margin-bottom: 20px;
    }
    .info-tarjeta p {
        font-size: 18px !important;
        font-weight: 200;
        color: white;
    }
    .info-tarjeta li {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 5px;
        color: white;
    }


.fechas {
    width: 50%;
    color: white;
}
    .fechas h5 {
        margin-top: 20px;
        font-size: 27px;
        font-weight: normal;
    }


/* Estilos para tamaños de pantalla más pequeños (menos de 770px) */

@media only screen and (max-width: 990px) {

    .tarjeta-left, .tarjeta-right {
        margin-left: 8%;
        margin-right: 8%;
        flex-direction: column; /* Cambiar de fila a columna para tarjetas izquierdas y derechas */
        align-items: center; /* Centrar elementos horizontalmente en la columna */
    }

    .tarjeta-left img, .tarjeta-right img {
        display: none; /* Ocultar las imágenes en dispositivos móviles */
    }

    .info-tarjeta, .fechas {
        width: 100% !important;
        text-align: left;
    }

    .point {
        display: none;
    }
}

.point {
    height: 28px;
    width: 30px;
    margin-left: 3%;
    margin-right: 3%;
}

.point:hover {
    cursor: default;
    background-color: white;
}

.fecha-left {
    text-align: right;
}

.fecha-right {
    text-align: left;
}

#lenguajes {
    height: 100%;
    display: inline-flex;
}

#lenguajes img {
    height: 120px;
    margin: 15px;
}












/* Estilos para la sección "Proyectos" */

.proyecto-card {
    position: relative;
    overflow: hidden; /* Agrega esta línea para ocultar el contenido que se desborde */
}

.proyecto-img img {
    width: 100%;
    height: auto;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
}

.card-body {
    position: relative;
    z-index: 2;
    text-align: left;
    background-color: #1f1b2e;
    border-bottom: 3px solid rgb(211, 211, 211);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
    .card-body h5 {
        font-size: 22px;
        color: #ffff00;
        margin-top: 20px;
    }
    .card-body p {
        font-size: 18px;
        font-weight: 200;
        color: white;
        margin-top: 15px;
    }
    .card-body p span {
        color: #178c00;
    }

.card {
    border: none;
}

.proyecto-img {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 990px) {
    #descripcion, #habilidades,
    #proyectos {
        margin-left: 8%;
        margin-right: 8%;
    }

    .card {
        margin-left: 8%;
        margin-right: 8%;
        transform: scale(1);
    }
}

@media (max-width: 778px) {
    #experiencia {
        margin-left: 1.51% !important;
        margin-right: 1.51% !important;
        transform: scale(0.8);
    }
    
    #habilidades {
        margin-left: 1% !important;
        margin-right: 1% !important;
        transform: scale(0.88);
    }
    
    #descripcion {
        margin-left: 1% !important;
        margin-right: 1% !important;
        transform: scale(0.9);
    }
    
    #proyectos {
        margin-left: 1% !important;
        margin-right: 1% !important;
        transform: scale(0.9);
    }
}
